

ul.Nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.Nav {
    float: left;
}

li.Nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.Nav a:hover{
    color: black; background-color: #111;
    background-color: blue;
}




body{
color: red;
background-image: url("picture/warning2.jpg");
background-size: cover;
}
        
